In [57]:
import pandas as pd
data = pd.read_csv('video_game.csv')

In [58]:
data.head(5)

,Unnamed: 0,Name,Platform,Year_of_Release,Genre,Publisher,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
data.columns

Index(['Unnamed: 0', 'Name', 'Platform', 'Year_of_Release', 'Genre',
       'Publisher', 'NA_players', 'EU_players', 'JP_players', 'Other_players',
       'Global_players', 'Critic_Score', 'Critic_Count', 'User_Score',
       'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [60]:
data = data.drop(['Unnamed: 0'], 1)

In [61]:
data.head(4)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E

In [62]:
data.sort_values(by=['Year_of_Release'])

,Name,Platform,Year_of_Release,Genre,Publisher,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
262,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31,NaN,NaN,NaN,NaN,NaN,NaN
5360,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34,NaN,NaN,NaN,NaN,NaN,NaN
546,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.0,0.03,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2650,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77,NaN,NaN,NaN,NaN,NaN,NaN
4019,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.0,0.01,0.49,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16376,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.00,0.0,0.00,0.01,43.0,7.0,tbd,NaN,Oxygen Interactive,E10+
16409,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.0,0.00,0.01,69.0,14.0,6.5,6.0,Midway,T
16452,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.0,0.00,0.01,59.0,6.0,6.7,107.0,Saber Interactive,M
16462,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.0,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16526,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.0,0.00,0.01,55.0,19.0,5.5,12.0,Artificial Mind and Movement,T

In [63]:
data = data.set_index('Name')

In [64]:
data.head(4)

,Platform,Year_of_Release,Genre,Publisher,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Name,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E

In [65]:
vg_sales = pd.read_csv('vgsales.csv')

In [66]:
vg_sales.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [67]:
vg_sales = vg_sales.drop(['Rank'], 1)

In [68]:
vg_sales.head(4)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00

In [69]:
vg_sales = vg_sales.set_index('Name')

In [70]:
vg_sales

,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [71]:
data = data.merge(vg_sales, how='left', on='Name')

In [72]:
data.describe()

,Year_of_Release,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,Critic_Count,User_Count,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,34672.000000,35305.000000,35305.000000,35305.000000,35305.000000,35305.000000,20508.000000,20508.000000,19985.000000,34503.000000,35138.000000,35138.000000,35138.000000,35138.000000,35138.000000
mean,2007.521285,0.306322,0.182000,0.050922,0.064512,0.603957,69.645163,25.211186,166.451038,2007.481552,0.307985,0.185312,0.050865,0.065963,0.610353
std,5.333471,0.759505,0.506075,0.240466,0.212969,1.427779,13.568525,18.424446,574.036979,5.313187,0.761526,0.507598,0.240557,0.216057,1.434868
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2005.000000,0.030000,0.000000,0.000000,0.000000,0.080000,61.000000,11.000000,10.000000,2005.000000,0.030000,0.000000,0.000000,0.000000,0.080000
50%,2008.000000,0.110000,0.040000,0.000000,0.020000,0.230000,71.000000,20.000000,24.000000,2008.000000,0.110000,0.040000,0.000000,0.020000,0.230000
75%,2011.000000,0.310000,0.160000,0.010000,0.050000,0.590000,80.000000,35.000000,83.000000,2011.000000,0.310000,0.170000,0.010000,0.060000,0.600000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [73]:
data.shape

(35305, 24)

In [74]:
data.head(5)

,Platform_x,Year_of_Release,Genre_x,Publisher_x,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,...,Rating,Platform_y,Year,Genre_y,Publisher_y,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,...,E,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,...,NaN,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,...,NaN,GB,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,...,E,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,...,E,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00

In [75]:
all_games = pd.read_csv('all_games.csv')

In [76]:
all_games.head(5)

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [77]:
all_games = all_games.rename(columns={"name": "Name"})

In [78]:
all_games.head(5)

,Name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [79]:
all_games = all_games.set_index('Name')

In [80]:
data = data.merge(all_games, how='left', on='Name')

In [81]:
data.head(5)

,Platform_x,Year_of_Release,Genre_x,Publisher_x,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,...,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,platform,release_date,summary,meta_score,user_review
Name,,,,,,,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,...,41.49,29.02,3.77,8.46,82.74,Wii,"November 19, 2006",Tennis (1-4 players): Players grab the control...,76.0,8.1
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,...,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,...,3.40,1.30,0.15,0.22,5.07,NaN,NaN,NaN,NaN,NaN
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,...,15.85,12.88,3.79,3.31,35.82,Wii,"April 27, 2008",Mario Kart Wii comes with the intuitive Wii Wh...,82.0,8.4
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,...,15.75,11.01,3.28,2.96,33.00,Wii,"July 26, 2009",Wii Sports Resort is a collection of fun sport...,80.0,8.2

In [82]:
for col in data.columns:
    print(col)

Platform_x
Year_of_Release
Genre_x
Publisher_x
NA_players
EU_players
JP_players
Other_players
Global_players
Critic_Score
Critic_Count
User_Score
User_Count
Developer
Rating
Platform_y
Year
Genre_y
Publisher_y
NA_Sales
EU_Sales
JP_Sales
Other_Sales
Global_Sales
platform
release_date
summary
meta_score
user_review

In [83]:
data = data.drop(['Platform_y', 'Year','Genre_y','Publisher_y','platform','release_date','summary'], axis=1)

In [84]:
for col in data.columns:
    print(col)

Platform_x
Year_of_Release
Genre_x
Publisher_x
NA_players
EU_players
JP_players
Other_players
Global_players
Critic_Score
Critic_Count
User_Score
User_Count
Developer
Rating
NA_Sales
EU_Sales
JP_Sales
Other_Sales
Global_Sales
meta_score
user_review

In [85]:
data = data.rename(columns={"Platform_x": "Platform", "Genre_x": "Genre", "Publisher_x":'Publisher', "NA_players":'NA_Players','EU_players':'EU_Players','JP_players':'JP_Players','Other_players':'Other_Players','Global_players':'Global_Players','meta_score':'MetaCritic_Score','user_review':'MetaCritic_User_Score'})

In [86]:
for col in data.columns:
    print(col)

Platform
Year_of_Release
Genre
Publisher
NA_Players
EU_Players
JP_Players
Other_Players
Global_Players
Critic_Score
Critic_Count
User_Score
User_Count
Developer
Rating
NA_Sales
EU_Sales
JP_Sales
Other_Sales
Global_Sales
MetaCritic_Score
MetaCritic_User_Score

In [87]:
data[['Critic_Score', 'User_Score','MetaCritic_Score','MetaCritic_User_Score']]

,Critic_Score,User_Score,MetaCritic_Score,MetaCritic_User_Score
Name,,,,
Wii Sports,76.0,8,76.0,8.1
Super Mario Bros.,NaN,NaN,NaN,NaN
Super Mario Bros.,NaN,NaN,NaN,NaN
Mario Kart Wii,82.0,8.3,82.0,8.4
Wii Sports Resort,80.0,8,80.0,8.2
...,...,...,...,...
LMA Manager 2007,NaN,NaN,NaN,NaN
Haitaka no Psychedelica,NaN,NaN,NaN,NaN
Spirits & Spells,NaN,NaN,50.0,6.0
Spirits & Spells,NaN,NaN,50.0,6.0
Winning Post 8 2016,NaN,NaN,NaN,NaN

In [88]:
data['Critic_Score'].value_counts()

71.0    2150
80.0    2104
82.0    2078
70.0    2007
75.0    1979
        ...
23.0       4
17.0       4
13.0       2
22.0       1
21.0       1
Name: Critic_Score, Length: 82, dtype: int64

In [98]:
data['Critic_Score'].isna().sum()

11138

In [99]:
data['MetaCritic_Score'].isna().sum()

13461

In [103]:
data['User_Score'].isna().sum()

8206

In [92]:
data['MetaCritic_User_Score'].isna().sum()

13461

In [49]:
data['MetaCritic_Score'].value_counts()

82.0    2628
80.0    2611
71.0    2331
70.0    2296
83.0    2233
        ...
31.0       7
22.0       5
99.0       4
20.0       4
23.0       3
Name: MetaCritic_Score, Length: 79, dtype: int64

In [95]:
data['Critic_Score'] = data['Critic_Score'].fillna(data['MetaCritic_Score'])

In [96]:
print(data['Critic_Score'])

Name
Wii Sports                 76.0
Super Mario Bros.           NaN
Super Mario Bros.           NaN
Mario Kart Wii             82.0
Wii Sports Resort          80.0
                           ...
LMA Manager 2007            NaN
Haitaka no Psychedelica     NaN
Spirits & Spells           50.0
Spirits & Spells           50.0
Winning Post 8 2016         NaN
Name: Critic_Score, Length: 78126, dtype: float64

In [102]:
data['User_Score'] = data['User_Score'].fillna(data['MetaCritic_User_Score'])

In [105]:
data.head(5)

,Platform,Year_of_Release,Genre,Publisher,NA_Players,EU_Players,JP_Players,Other_Players,Global_Players,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,29.08,3.58,6.81,0.77,40.24
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,3.40,1.30,0.15,0.22,5.07
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,15.75,11.01,3.28,2.96,33.00

In [104]:
data = data.drop(['MetaCritic_User_Score'], 1)

In [110]:
data['Rating'].isna().sum()

12483

In [111]:
data = data.drop(['Developer'], 1)

In [112]:
data = data.drop(['Rating'], 1)

In [113]:
data.head(5)

,Platform,Year_of_Release,Genre,Publisher,NA_Players,EU_Players,JP_Players,Other_Players,Global_Players,Critic_Score,Critic_Count,User_Score,User_Count,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,29.08,3.58,6.81,0.77,40.24
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,3.40,1.30,0.15,0.22,5.07
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,15.75,11.01,3.28,2.96,33.00

In [114]:
data.isna().sum().sum()

63620

In [115]:
for col in data.columns:
    print(col.isna().sum())

AttributeError: 'str' object has no attribute 'isna'

In [116]:
data.isna().values.sum()

63620

In [117]:
data.isnull().sum()

Platform               0
Year_of_Release     1819
Genre                  2
Publisher             72
NA_Players             0
EU_Players             0
JP_Players             0
Other_Players          0
Global_Players         0
Critic_Score       11138
Critic_Count       19536
User_Score          8206
User_Count         21502
NA_Sales             269
EU_Sales             269
JP_Sales             269
Other_Sales          269
Global_Sales         269
dtype: int64

In [118]:
data.shape

(78126, 18)

In [119]:
data = data.drop(['Critic_Count'], 1)

In [120]:
data = data.drop(['User_Count'], 1)

In [121]:
data.isnull().sum()

Platform               0
Year_of_Release     1819
Genre                  2
Publisher             72
NA_Players             0
EU_Players             0
JP_Players             0
Other_Players          0
Global_Players         0
Critic_Score       11138
User_Score          8206
NA_Sales             269
EU_Sales             269
JP_Sales             269
Other_Sales          269
Global_Sales         269
dtype: int64

In [122]:
data.shape

(78126, 16)